


body {
    background-color: rgb(255, 255, 255);
    color: rgb(11, 71, 124);
    font-family: Georgia;
}
header {
    text-align:center;
}
hr {
    background-color: rgb(84, 89, 90);
    height:1px;
    border:none;
}


nav ul li a:hover {
    color:#12005f
}

.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    
    .colorink {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 0px;
        top: 0px;
        
        background: #FFE2DE;
    }
    
    .colorgreen {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 360px;
        top: 0px;
        
        background: #C4E769;
    }
    
    .colorskyblue {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 720px;
        top: 0px;
        
        background: #62D0DF;
    }
    
    .colordarkblue {
        position: absolute;
        width: 360px;
        height: 360px;
        left: 1078px;
        top: 0px;
        
        background: #0052C1;
        
    }
    
     ul {
         list-style-type: none;
    position: absolute;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #2b13b1;
    font-weight: bolder;
    }
    
    
    li::before {
        content: "•"; 
            color:#E9B730;
            display: inline-block; 
            width: 1em;
            margin-left: -1em
        }
       
    
    .punkt1 {
        position: absolute;
    width: 232px;
    height: 54px;
    left: 78px;
    top: 60px;
    }
    
    .punkt2 {
        position: absolute;
    width: 230px;
    height: 54px;
    left: 438px;
    top: 60px;
    }
    
    .punkt3 {
        position: absolute;
    width: 218px;
    height: 54px;
    left: 798px;
    top: 60px;
    }
    
    .punkt4 {
    position: absolute;
    width: 214px;
    height: 54px;
    left: 1156px;
    top: 60px;
    }
    
    hr.hr1 {
        position: absolute;
        width: 255px;
        height: 0px;
    left: 52.5px;
    top: 0px;
    border: 1px solid #FFFFFF;
    }
    
    hr.hr2 {
        position: absolute;
        width: 255px;
        height: 0px;
    left: 412.5px;
    top: 0px;
    border: 1px solid #FFFFFF;
    }
    
    hr.hr3 {
        position: absolute;
        width: 255px;
        height: 0px;
    left: 772.5px;
    top: 0px;
    border: 1px solid #FFFFFF;
    }  
    
    hr.hr4 {
        position: absolute;
        width: 255px;
        height: 0px;
    left: 1132.5px;
    top: 0px;
    border: 1px solid #FFFFFF;
    }  
    
a {
text-decoration: none;
color:rgb(255, 255, 255)
}

#container {
    width: 1430px;
    height: 460px;
    top: 360px;
    background:rgb(255, 255, 255)
}

#color {
    position: absolute;
    width: 360px;
    height: 460px;
    top: 360px;
    background:rgb(79, 181, 199)
}

h1 {
    font-size: 50px;
    color: #070c4e;
}

h2 {
    font-size: 40px;
    color: #070c4e;  
}

.text {
    font-size: 40px;
    color: #070c4e;  
    text-align: center;
}

textarea {
    display: block;
    border: 2px solid #BBB;
    color: #444;
    font-size: 50px;
    font-family: "Courier New";
    padding-left: 20px;
  }
  
  button {
    background: #183891;
    border-color: azure;
    color: #eae253;
    font-family: "Courier New";
    font-size: 40px;
    
}

#slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#colors {
    transition-property: background-color;
    transition-duration: 3s;
  }